.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/
.env
*.log

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
